<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:property-placeholder location="file:geofort-feeder/src/main/config/application.properties" order="1" ignore-unresolvable="true" ignore-resource-not-found="true"/>
    <context:property-placeholder location="file:../config/application.properties" order="1" ignore-unresolvable="true" ignore-resource-not-found="true"/>

    <!-- Context definition-->
    <context:annotation-config />
    <context:component-scan base-package="cz.hatoff.geofort.feeder.querychecker"/>
    <context:component-scan base-package="cz.hatoff.geofort.feeder.querydownloader"/>
    <context:component-scan base-package="cz.hatoff.geofort.feeder.queryuploader"/>

    <!-- Configuration beans-->
    <bean class="cz.hatoff.geofort.feeder.configuration.GeofortConfiguration"/>

    <!-- Scheduler -->
    <task:scheduled-tasks >
        <task:scheduled ref="queryCheckingMailService" method="checkForNewLinks" cron="${checker.email.check.cron}" />
    </task:scheduled-tasks>


</beans>
